.root {
    dark_color: #424242;
    darker_color: #212121;
    very_dark: #111111;
    grey_color: #555555;
    accent_color: #00CC00;
    -fx-background-color: dark_color;
    -fx-text-background-color: white;
    -fx-text-inner-color: white;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: very_dark;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 0;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-insets: 4.0, 0.0, 0.0;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical {
    -fx-unit-increment: 10 ;
    -fx-block-increment: 50 ;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-unit-increment: 5 ;
    -fx-block-increment: 20 ;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white, white;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane, .text {
    -fx-font-size: 1em;
    -fx-font-smoothing-type: gray;
    -fx-text-fill: white;
}

.titled-pane > .title
{
    -fx-background-color: very_dark;
    -fx-background-radius: 0;
}

.titled-pane > *.content
{
    -fx-background-color: darker_color;
    -fx-border-width: 0;
}

.titled-pane:focused > .title > .arrow-button .arrow
{
    -fx-background-color: white;
    -fx-effect: null;
}

.button {
    -fx-background-color: very_dark;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-text-fill: white;
}

.slider .thumb {
    -fx-background-color: very_dark;
    -fx-border-color: white;
    -fx-border-radius: 1.0em; /* makes sure this remains circular */
    -fx-effect: inherit;
}
.slider .track {
    -fx-background-color: grey_color;
    -fx-padding: 0.2em;
}

/*.volumeSlider > .thumb {*/
/*    -fx-shape: "M460,265.87 1,265.87 1,0.866 460,0.866z";*/
/*}*/

.volumeSlider > .track {
    -fx-background-color: transparent;
}

.thresholdSlider > .thumb {
    -fx-shape: "M460,530.874 1,265.87 460,0.866z";
}

.thresholdSlider > .track {
    -fx-background-color: transparent;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: white;
}

.check-box > .box {
    -fx-background-radius: 0;
    -fx-background-color: very_dark;
    -fx-border-color: white;
    -fx-border-width: 1;
}
.check-box > .box > .mark {
    -fx-shape: "M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z";
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    -fx-background-color: white;
}

.text-field, .text-input:disabled {
    -fx-background-color: very_dark;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-padding: 0.2em;
}

.text-field .text {
    -fx-text-fill: white;
}

#frequency .text {
    -fx-font-size: 1.5em;
}

#control-pane, .titled-pane, .pane, .darkPane {
    -fx-background-color: darker_color;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: very_dark;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.progress-indicator:indeterminate .segment {
    -fx-background-color: white;
}

.progress-indicator:indeterminate {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.progress-indicator:indeterminate > .spinner {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.list-cell:filled:selected:focused, .list-cell:filled:hover {
    -fx-background-color: grey_color;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box .list-cell
{
    -fx-background: very_dark;
    -fx-background-color: very_dark;
    -fx-text-fill: white;
    -fx-border-radius: 0;
    -fx-border-width: 0.2 0 0.2 1;
    -fx-border-color: white;
}

.combo-box-popup .list-view
{
    -fx-background-color: dark_color;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 1 1 0 1;
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 6 0 6 5;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;

    /* No alternate highlighting */
    -fx-background-color: dark_color;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: darker_color;
    -fx-background-color: darker_color;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: darker_color;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.combo-box-base
{
    -fx-background-color: white;
    -fx-border-radius: 0;
    -fx-border-width: 1 1 1 0;
    -fx-border-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: white;
}

.combo-box-base:showing
{
    -fx-color: white;
}

.combo-box-base:focused {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
* {
    -fx-my-menu-color: very_dark;
    -fx-my-menu-color-highlighted: dark_color;
    -fx-my-menu-font-color: white;
    -fx-my-menu-font-color-highlighted: white;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}

.spinner {
    -fx-background-color: very_dark;
    -fx-border-radius: 0;
    -fx-color: white;
    -fx-border-color: white;
    -fx-padding: -1px;
}

.spinner .increment-arrow-button {
    -fx-border-width: 1px 1px 0 0;
    -fx-border-color: white;
}
.spinner .decrement-arrow-button {
    -fx-border-width: 0 1px 1px 0;
    -fx-border-color: white;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: very_dark;
    -fx-background-radius: 0;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: grey_color;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color: white;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: white;
}

.label.title .text {
    -fx-font-size: 1.5em;
}

.text-area .content {
    -fx-background-color: very_dark;
}

.text-area {
    -fx-background-color: very_dark;
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-border-color: white;
}

.white-border {
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-border-color: white;
}