/target
/.idea

# Ignore all models and files, (excluding defaults)
/src/main/resources/models/*
/src/main/resources/images/*

# ignore temporary files
*~

# Ignore local binaries for xt-audio
/win32-x64
