/out

# Ignore libraries in /lib
/lib

# Ignore all models (excluding cube and machine)
/models/*

# ignore temporary files
*~

# platform-specific binaries folders
/linux-x64
/linux-x86
/win32-x64
/win32-x86
