[submodule "modules/chowdsp_utils"]
	path = modules/chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils.git
[submodule "modules/juce_sharedtexture"]
	path = modules/juce_sharedtexture
	url = git@github.com:jameshball/juce_sharedtexture.git
[submodule "modules/osci_render_addon"]
	path = modules/osci_render_core
	url = git@github.com:jameshball/osci_render_core.git
[submodule "modules/osci_render_core"]
	path = modules/osci_render_core
	url = git@github.com:jameshball/osci_render_core.git
