name: Maven Package and Release osci-render

on:
  push:
    branches: [ release ]

jobs:
  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 19
      uses: actions/setup-java@v2
      with:
        java-version: '19'
        distribution: 'adopt'
    - name: Build with Maven
      run: |
        mvn -B package
        mvn -B jpackage:jpackage@win
        $version= mvn help:evaluate -Dexpression="project.version" -q -DforceStdout
        echo "VERSION=$version" >> $env:GITHUB_ENV
        mv "target/lib/osci-render-$version.jar" "target/lib/osci-render-win-$version.jar"
        Compress-Archive -Path "blender/osci_render" -DestinationPath "target/lib/osci-render-blender-addon.zip"
        ls target/lib/
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        body_path: .github/workflows/RELEASE.md
        tag_name: v${{ env.VERSION }}
        files: |
          target/lib/osci-render-${{ env.VERSION }}.exe
          target/lib/osci-render-win-${{ env.VERSION }}.jar
          target/lib/osci-render-blender-addon.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_REPOSITORY: jameshball/osci-render

  build-debian:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 19
        uses: actions/setup-java@v2
        with:
          java-version: '19'
          distribution: 'adopt'
      - name: Build with Maven
        run: |
          mvn -B package
          mvn -B jpackage:jpackage@debian
          version=$(mvn help:evaluate -Dexpression="project.version" -q -DforceStdout)
          echo "VERSION=$version" >> $GITHUB_ENV
          mv target/lib/osci-render-$version.jar target/lib/osci-render-unix-$version.jar
          ls target/lib/
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.VERSION }}
          files: |
            target/lib/osci-render_${{ env.VERSION }}-1_amd64.deb
            target/lib/osci-render-unix-${{ env.VERSION }}.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: jameshball/osci-render

  build-mac:

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 19
        uses: actions/setup-java@v2
        with:
          java-version: '19'
          distribution: 'adopt'
      - name: Build with Maven
        run: |
          mvn -B package
          mvn -B jpackage:jpackage@mac
          version=$(mvn help:evaluate -Dexpression="project.version" -q -DforceStdout)
          echo "VERSION=$version" >> $GITHUB_ENV
          mv target/lib/osci-render-$version.jar target/lib/osci-render-mac-$version.jar
          ls target/lib/
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.VERSION }}
          files: |
            target/lib/osci-render-${{ env.VERSION }}.pkg
            target/lib/osci-render-mac-${{ env.VERSION }}.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: jameshball/osci-render
          
  build-docs:
  
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout wiki
        uses: actions/checkout@master
        with:
          repository: jameshball/osci-render.wiki
          path: wiki
      - name: Checkout osci-render
        uses: actions/checkout@master
        with:
          path: osci-render
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Convert wiki to PDF
        run: |
          sudo apt update
          sudo apt install xfonts-75dpi xfonts-base gvfs colord glew-utils libvisual-0.4-plugins gstreamer1.0-tools opus-tools qt5-image-formats-plugins qtwayland5 qt5-qmltooling-plugins librsvg2-bin lm-sensors
          sudo apt install wget
          wget https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.5/wkhtmltox_0.12.5-1.bionic_amd64.deb
          sudo dpkg -i wkhtmltox_0.12.5-1.bionic_amd64.deb
          sudo npm install -g github-wikito-converter
          cd wiki
          ls | grep -xv "Home.md" | parallel rm
          cd ..
          gwtc -v -f pdf -t "osci-render documentation" --logo-img "osci-render/osci.png" wiki
          cd osci-render
          version=$(mvn help:evaluate -Dexpression="project.version" -q -DforceStdout)
          echo "VERSION=$version" >> $GITHUB_ENV
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.VERSION }}
          files: documentation.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: jameshball/osci-render
          

